
/* Footer */
.footer{
    display: flex;
    background-color:  #4C394E;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding: 32px 52px;
  }
  

  .footer__data{
    color: var(--white, #F8FDFE);
  }

  .footer__title{
    color: var(--white, #F8FDFE);
}