body{
    background: var(--beige, #EEEEEF);
}


/* Header */
.header{
font-family: Cabin; 
position: sticky;
top: 0;
left: 0;
width: 100%;
z-index: 9999;
}


.top-header{
display: flex;
height: 72px;
padding: 16px 52px;
justify-content: space-between;
align-items: center;
background: #10BBD5;  
}


.top-header__logo{
width: 135px;
height: 28px;
background-image: url(/images/logo.png);

}

/* .book-read{
color: #F8FDFE;
font-size: 24px;
font-weight: 700;
} */

.top-header__basket{
display: flex;
align-items: center;
}

.top-header__price{
color: #F8FDFE;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
}

.btn-header{
background-image: url(/icon/cart_icon.png);
width: 40px;
height: 40px;
background-repeat: no-repeat;
background-color: #10BBD5;
border: none;
}

.bottom-header{
display: flex;
color: #000;
font-size: 16px;
line-height: 24px; /* 150% */
padding: 0 52px;
justify-content: space-between;
background-color: white;
}

.bottom-header__nav{
    display: flex;
    gap: 40px;
}

.bottom-header__item{
    list-style-type: none;
}   
 
.bottom-header__link{
    text-decoration: none;
    color: #000;
}
