

/* Main */
.main{
    background: var(--beige, #EEEEEF);
    position: relative;
    width: 1400px;
    margin: auto;
}


.top-main__title{
    padding: 32px 0 23px 52px;
    color: #1F1F1F;
    font-size: 32px;
   font-weight: 600;
    line-height: 40px;
}

.top-main__hr{
    width: 1296px;
    height: 1px;
    background: #A8A8A8;
    border: none;
}

.product-cart-container{
    display: grid;
    font-family: Cabin; 
    grid-template-rows:auto auto auto;
    grid-template-columns: auto auto auto auto;
    padding: 24px 32px;
    grid-gap: 30px 25px;
 
}

.product-cart{
    border: 1px solid #A8A8A8;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8FDFE;
   position: relative;
}


.product-cart__img{
width: 178px;
height: 280px;
margin-bottom: 16px;
}

.product-cart__title{
width: 242px;
height: 31px; 
overflow: hidden;
color: var(--black, #1F1F1F);
text-overflow: ellipsis;
white-space: nowrap;
font-size: 20px;
font-weight: 700;
line-height: 28px; /* 140% */
text-decoration: none;

}

.product-cart__hr{
height: 1px;
align-self: stretch;
background: #A8A8A8;
width: 242px;
border: none;
margin: 0 32px;
}

.product-cart__subtitle{
width: 242px;
height: 24px; 
overflow: hidden;
color: var(--gray, #8E8E8E);
text-overflow: ellipsis;
white-space: nowrap;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
color: #8E8E8E;
}
.product-cart__prise{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    display: flex;
    width: 242px;
    margin: 16px 32px;
    gap: 24px;
}
.product-cart__prise--red{
color: #E90000;
align-items: flex-start;
}

.product-cart__prise--gray{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33333;
    text-decoration: line-through;
    color: #8e8e8e;
}

.btn-product-cart{
padding: 8px 24px;
border-radius: 4px;
background: var(--eggplant, #4C394E);
color: var(--white, #F8FDFE);
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
padding: 8px 24px;
width: 242px;
height: 40px;
 }

 .btn-product-cart:hover{
border-radius: 4px;
background: #4D762D;
padding: 8px 24px; 
 }

 .btn-product-cart::before{
    content: "Add to basket" ;
 }

 .btn-product-cart:hover::before {
    content: "End up";
  }



.btn-icon{
border: none;
border-radius: 50%;
background-color: #10BBD5; 
position: fixed;
top: 50%;
left:97%;
transform: translate(-50%,-50%);
width: 64px;
height: 64px;
}

.product-cart-badge__btn--hit{
    
    background: #4200FF;
    
}

.product-cart-badge__btn--off{
    background-color:#ea33c0;
    
   }

   .product-cart-badge__btn{
    border-radius: 4px;
    padding: 4px  8px;
    line-height: 1.5;
    border: none;
    color: #f8fdfe;
    font-family: Cabin;
}

.product-cart-badge{
    position: absolute;
    top: 27px;
    left: 37px;
    text-align: center;
   
    
}


.product-cart-badge__btn--new{

    background-color: #AF39E7 ;  
}


